@import 'fonts-colors.scss';
@import 'mixins.scss';

.deathstar {
  @include circle;
  background: linear-gradient(to right, $deathgray-2, $deathgray-3);

   &:after {
   content:'';
   position: absolute;
   background: $deathgray-1;
   border-radius: 50%;
   height: 135px;
   width: 135px;
   top: 10%;
   left: 45%;
   z-index: 1;
   background: linear-gradient(to right, $deathgray-3, $deathgray-4)
}

  &:before {
  content: '';
  position: absolute;
  background: $death-bk;
  top:50%;
  width: 100%;
  height: 5px;
}
}
