

/*
@keyframes textcrawl {
  0% {top: -100px; transform: rotateX(20deg) translateZ(0); }
  100% {top: -6000px; transform: rotateX(25deg) translateZ(-2500px);}
}
*/
//SPACING
header{
  padding-top:1700px;
  padding-bottom:500px;
     transform: rotateX(0deg) translateZ(0);
}
h3{
    padding-top:150px;
    padding-bottom:50px;
    
}
