@import 'partials/background';
@import 'partials/before-after';
@import 'partials/fonts-colors';
@import 'partials/layout';
@import 'partials/mixins.scss';


$left: 15%;
$right: 15%;

.page-wrapper {
    @include pretext();
    grid-template-areas: "intro" "main" "sidebar";
    margin-left: $left;
    margin-right: $right;
    position:absolute;
    font-size: 200%;
    font-weight: bold;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(15deg);
    animation: scroll 10s linear 4s forwards;
}


    .intro {
        grid-area: intro;
        @include pretext();
        grid-template-areas: "summary" "banner" "preamble";
    }
        .banner {
            grid-area: banner;
        }
        .summary {
            grid-area: summary;
        }
        .preamble {
            grid-area: preamble
        }

     .main {
      grid-area: main;
    }
    .sidebar {
      grid-area: sidebar;
    }
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 100%);
            grid-gap: 0px;
            grid-template-areas: "design-selection design-archives zen-resources";
            ul {
                list-style-type: none;
            }
        }
            .design-selection {
                grid-area: design-selection;
            }
            .design-selection ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                }

            .design-archives {
                grid-area: design-archives;
            }
            .zen-resources {
                grid-area: zen-resources;
            }

// ----------keyframes-----------------------

  @keyframes scroll {
    0% { top: 100%; }
    100% { top: -1000%; }
  }

// ----------media queries-------------------

@media screen and (max-width:768px) {
    .page-wrapper {
     margin-left: $left / 3 ;
     margin-right: $right / 3;
    }
    .wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 100%);
            grid-gap: 0px;
            grid-template-areas: "design-selection" "design-archives" "zen-resources";
    }
}
