body {
  background-color: black; }

.extra1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  z-index: -1;
  opacity: 0.4; }
  @media screen and (min-width: 700px) {
    .extra1 {
      background-image: url(stars_large.jpg); } }
  @media screen and (max-width: 700px) {
    .extra1 {
      background-image: url(stars_small.jpg); } }

.preamble::before {
  content: "Darth Duewhile has found "; }

.preamble h3::after {
  content: "..."; }
.preamble p:nth-child(2)::after {
  content: " Not to mention all of the dead programers, who once stood in his path."; }
.preamble p:nth-child(3)::after {
  content: " However, only master Yoda has achived pure enlightment and the young programer must seek him out. This is the only way Dearth Duewhile will be stopped."; }
.preamble p:nth-child(4)::after {
  content: " And the web with me."; }

.explanation p:nth-child(2) abbr:nth-child(1)::after {
  content: ". If we do not Darth Duewhile will quickly take over the loops"; }
.explanation p:nth-child(2)::after {
  content: " Dearth Duewhile has still not found this power, and so we must protect it at all cost."; }
.explanation p:nth-child(3)::after {
  content: " However, the same can be said of those on the dark side of the loop. They are able to create ugliness and disorder to the web"; }

.participation p:nth-child(2)::after {
  content: " This will be necessary if you wish to help defeat Dearth Duewhile."; }
.participation p:nth-child(3) abbr:nth-child(1)::after {
  content: ". This is so Dearth Duewhile does not have access to it"; }
.participation p:nth-child(4)::after {
  content: " The more we have the quicker we can defeat Dearth Duewhile."; }

.benefits p:nth-child(2)::after {
  content: " And of course, to defeat Dearth Duewhile and save the galaxy from his grasp."; }

.requirements p:nth-child(2)::after {
  content: " Which will be done by H5-C3 and J3P0."; }
.requirements p:nth-child(3)::after {
  content: " And where Dearth Duewhile has his gretest control."; }
.requirements::after {
  content: "May the loops be with you!"; }

@font-face {
  font-family: StarFont;
  src: url(fonts/DeathStar.otf); }
@font-face {
  font-family: StarTitle;
  src: url(fonts/Starjout.ttf); }
.preamble h3 {
  font-size: 1em;
  font-weight: normal;
  display: inline; }

p, h1, h2, h3, a, li, .preamble, .explanation, .participation, .benefits, .requirements {
  color: #ffff00;
  font-size: 100%; }
  @media screen and (max-width: 768px) {
    p, h1, h2, h3, a, li, .preamble, .explanation, .participation, .benefits, .requirements {
      font-size: 4vw; } }

p, a, li, .preamble, .explanation, .participation, .benefits, .requirements {
  font-family: "StarFont";
  letter-spacing: 3px; }

h1, h2, h3 {
  font-family: "StarTitle";
  text-align: center; }

h1 {
  font-size: 200%; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 9vw; } }

h2, h3 {
  font-size: 150%; }
  @media screen and (max-width: 768px) {
    h2, h3 {
      font-size: 6vw; } }

.summary p, .summary a {
  color: blue; }

header {
  padding-top: 1700px;
  padding-bottom: 500px;
  transform: rotateX(0deg) translateZ(0); }

h3 {
  padding-top: 150px;
  padding-bottom: 50px; }

.page-wrapper {
  grid-template-areas: "intro" "main" "sidebar";
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  font-size: 200%;
  font-weight: bold;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: scroll 120s linear 0s forwards;
  text-align: justify; }
  @media screen and (min-width: 768px) {
    .page-wrapper {
      overflow: hidden; } }

.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 100%);
  grid-gap: 0px;
  grid-template-areas: "summary" "banner" "preamble"; }

.banner {
  grid-area: banner; }

.summary {
  grid-area: summary; }

.preamble {
  grid-area: preamble; }

.main {
  grid-area: main; }

.sidebar {
  grid-area: sidebar; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 100%);
  grid-gap: 0px;
  grid-template-areas: "design-selection" "design-archives" "zen-resources"; }
  .wrapper ul {
    list-style-type: none; }

.design-selection {
  grid-area: design-selection; }

.design-selection ul li {
  white-space: pre-line; }

.design-archives {
  grid-area: design-archives; }

.zen-resources {
  grid-area: zen-resources; }

@media screen and (max-width: 768px) {
  .page-wrapper {
    margin-left: 5%;
    margin-right: 5%; } }
@media screen and (min-width: 768px) {
  @keyframes scroll {
    0% {
      top: 25%;
      opacity: 0;
      transform-origin: 0% 0%;
      transform: perspective(0px) rotateX(0deg); }
    2% {
      top: 25%;
      opacity: 1;
      transform-origin: 0% 0%;
      transform: perspective(0px) rotateX(0deg); }
    5% {
      top: 25%;
      opacity: 1;
      transform-origin: 0% 0%;
      transform: perspective(0px) rotateX(0deg); }
    6% {
      top: 25%;
      opacity: 0;
      transform-origin: 0% 0%;
      transform: perspective(0px) rotateX(0deg); }
    6.99% {
      opacity: 0;
      top: -200%;
      transform-origin: 0% 0%;
      transform: perspective(0px) rotateX(0deg); }
    7% {
      opacity: 1;
      top: -200%;
      transform-origin: 50% 100%;
      transform: perspective(300px) rotateX(15deg); }
    100% {
      top: -2000%;
      transform-origin: 50% 100%;
      transform: perspective(300px) rotateX(15deg); } } }

/*# sourceMappingURL=style.css.map */
