$left: 30%;
$right: 30%;
$small: 320px;
$large: 1024px;


@mixin pretext() {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 100%);
    grid-gap: 0px;
}

//experimenting if statements in sass, i'll come back to it
//@mixin breakpoint($media) {
//    @if $media == handhelds {
//        @media only screen and (max-width: $small) {background: red;}
//    }
//    @else if $media == medium-screens {
//        @media only screen and (min-width: $small + 1) and (max-width: $large - 1)
//    }
//    @else if $media == wide-screens {
//        @media only screen and (min-width: $large) {@content;}
//    }
//}


.page-wrapper {
    @include pretext();
    grid-template-areas: "intro" "main" "sidebar";
    margin-left: $left;
    margin-right: $right;
    text-align: center;
}

    .intro {
        grid-area: intro;
        @include pretext();
        grid-template-areas: "summary" "banner" "preamble";
    }
        .banner {
            grid-area: banner;
        }
        .summary {
            grid-area: summary;
        }
        .preamble {
            grid-area: preamble
        }

     .main {
      grid-area: main;
    }
    .sidebar {
      grid-area: sidebar;
    }
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 100%);
            grid-gap: 0px;
            grid-template-areas: "design-selection design-archives zen-resources";
            ul {
                list-style-type: none;
            }
        } 
            .design-selection {
                grid-area: design-selection;
            }
            .design-selection ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 100%);
                grid-template-areas: "li1 li2";
                    &:nth-child(even){
                        grid-area: li1;
                    }
                    &:nth-child(odd){
                        grid-area: li2;
                    }
            }
            .design-archives {
                grid-area: design-archives;
            }
            .zen-resources {
                grid-area: zen-resources;
            }

@media screen and (max-width:768px) {
    .page-wrapper {
     margin-left: $left / 3 ;
     margin-right: $right / 3;   
    }
    .wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 100%);
            grid-gap: 0px;
            grid-template-areas: "design-selection" "design-archives" "zen-resources";
    }
}

